body{ font-family: "Quicksand", serif;}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

header, main{ margin: auto 141px; }

body{ margin-top: 30px;}



/* Shared style Section */

.orange{
  color: rgb(254, 163, 1);
}

.orange-bg{
  background-color: rgb(254, 163, 1);
}

.sky-blue{
  color: rgb(1, 172, 253);
}

.shade-green{
  color: rgb(27, 134, 140);
}

.light-magenta{
  color: rgb(93, 88, 239);
}


.btn:hover{
  cursor: pointer;
  color: white;
  background-color: #4c7ade;
  border: 1px solid black;
  box-shadow: rgba(0, 0, 0, 0.2);
}






/* NavBar Section */

nav{
  display: flex;
  justify-content: space-between;
}

.h-icon{
  display: none;
}

.container{
  display: flex;
  align-items: center;
}

.container h2{
  font-size: 2rem;
  margin-left:5px;
}


.container-2{
  display: flex;
  align-items: center;
  gap: 32px;
}

.container-2 a{
  text-decoration: none;
  margin-right: 15px;
  font-size: 20px;
  font-weight: 700;
}

.container-3 button{
  color: white;
  padding: 11px 35px;
  border: 1px solid rgb(254, 163, 1);
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 8px;
}



/* Banner Section  */

.banner{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  margin-top: 50px;
  margin-bottom: 60px;
}

.banner h1{
  width: 640px;
  font-size: 3.5rem;
  font-weight: 700;
}

.banner p{
  width: 640px;
  font-size: 1.25rem;
  font-weight: 400;
  margin-top: 24px;
}
.banner button{
  color: white;
  background-color: black;
  padding: 11px 35px;
  border: 1px solid black;
  border-radius: 12px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-top: 26px;  
}









/* Media Query Section */

@media screen and (max-width: 576px) {


header, main {
  margin: auto 40px; /* Remove margin for small screens */
  /* padding: 15px 40px 15px 40px; */
}


/* NavBar Section */
.container-2,.container-3,.container h2{
  display: none;
}

nav{
  justify-content: space-between;
  align-items: center;
  margin: 20px;

}
.container img{
  width: 46px;
  height: 46px;
}

.h-icon{
  display: block;
  width: 22.5px;
  height: 15px;
}



/* Banner Section */

.banner{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.banner-description{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner h1{
  width: 100%;
  font-size: 2.2rem;
  text-align: center; 
}

.banner p{
  width: 100%;
  font-size: 1rem;
  text-align: center;
}













}